In [37]:

# Import dependencies
from bs4 import BeautifulSoup
import json
import requests
import pandas as pd
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Use Splinter to Run URL to extract news headlines and paragraph text
executable_path = {'executable_path': 'chromedriver'} #ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:

# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

# Visit through chrome browser 
browser.visit(url)

In [8]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [9]:
results = soup.find('li', class_='slide')

In [10]:
# Extract the latest news and its paragraph text
news_title = results.find('div', class_='content_title').text
news_text = results.find('div', class_='article_teaser_body').text

# Output
print(f"news_title = {news_title}")
print("--------------------------")
print(f"news_p = {news_text}")

news_title = A Martian Roundtrip: NASA's Perseverance Rover Sample Tubes
--------------------------
news_p = Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition.

### JPL Featured Image

In [13]:
executable_path = {'executable_path': 'chromedriver'} #ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [14]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html2 = browser.html

In [15]:
soup2 = BeautifulSoup(html2,'html.parser')

In [17]:
image = soup2.find('div', class_='carousel_items').a['data-fancybox-href']
image

'/spaceimages/images/mediumsize/PIA23341_ip.jpg'

In [19]:
main_url = 'https://www.jpl.nasa.gov'
featured_image_url= main_url + image

# Output of Featured Image Url
print(f"image url = {featured_image_url}")

image url = https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA23341_ip.jpg

### Facts

In [20]:
url_mars_facts= 'https://space-facts.com/mars/'


# Use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
table_mars= pd.read_html(url_mars_facts)
table_mars

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
mars_df = table_mars[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
#Format the table by changing column names
column_names = {mars_df.columns[0]: 'Description', mars_df.columns[1]: 'Mars'}
mars_facts_html = mars_df.rename(columns = column_names).set_index('Description')
mars_facts_table = mars_facts_html.to_html()
print(mars_facts_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [22]:
featured_img

'/spaceimages/images/largesize/PIA14944_hires.jpg'

In [23]:
pic_url = f"https://www.jpl.nasa.gov{featured_img}"

In [24]:
pic_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14944_hires.jpg'

### FACTS

In [26]:
url = 'https://space-facts.com/mars/'
browser.visit(url)
html = browser.html

In [27]:
# use Pandas to scrape the table containing facts about Mars
profile = pd.read_html(url)
profile_df = profile[0]
profile_df.columns = ['description', 'information']
profile_df.set_index('description', inplace=True)
profile_df

                                        information
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [28]:
# Use Pandas to convert the data to a HTML table string
mars_facts = profile_df.to_html(classes='table-stripped')
print(mars_facts)

<table border="1" class="dataframe table-stripped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>information</th>
    </tr>
    <tr>
      <th>description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemisphers

In [24]:
# url for USGS Astrologeology webpage
executable_path = {'executable_path': 'chromedriver'} #ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [25]:
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

# Visit through chrome browser 
browser.visit(url_hemisphere)

In [27]:
html3 = browser.html

In [28]:
soup3 = BeautifulSoup(html3,'html.parser')

In [29]:
hemi_img_urls = []

h3links= browser.find_by_tag("h3")
h3links

In [30]:
for items in range(len(h3links)):
    hemidict = {}
    
    browser.find_by_css('h3')[items].click()
    
    ## titles
    hemidict['title']=browser.find_by_css('h2.title').text
    
    ## images
    image_url= browser.links.find_by_text('Sample').first
    hemidict['image_url'] = image_url['href']
    hemi_img_urls.append(hemidict)
    browser.back()

In [35]:
mars_data = {
            "news_title": news_title,
            "news_text": news_text,
            "featured_image_url": featured_image_url,
            "html_table": mars_facts_table,
            "hemisphere_img_urls": hemi_img_urls
    }

In [38]:
json = json.dumps(mars_data)
f = open("mars_data.json","w")
f.write(json)
f.close()